{{ automation_host }}.{{ internet_host }} {

  @waf {
    import waf_skip_websockets
  }

  coraza_waf @waf {
    import owasp_coraza_engine
  }

  import logging awx.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy https://{{ lan_prefix }}.{{ automation_host }}.{{ internet_host }}
}