{{ registry_host }}.{{ internet_host }} {

  coraza_waf {
    load_owasp_crs

    directives "
      Include /etc/caddy/waf/core/owasp_coraza.conf
      Include /etc/caddy/waf/core/crs_rules.conf
    "
  }

  import logging harbor.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy https://{{ lan_prefix }}.{{ registry_host }}.{{ internet_host }}
}