{{ vpn_host }}.{{ internet_host }} {

  @waf {
    import waf_skip_websockets
  }

  coraza_waf @waf {
    import owasp_coraza
  }

  import logging vpn.log
  import letsencrypt_cloudflare_dns
  import proxy 10.0.254.3:8080
}
