{{ photos_host }}.{{ internet_host }} {
  import logging immich.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy https://{{ lan_prefix }}.{{ photos_host }}.{{ internet_host }}
}