{{ auth_host }}.{{ internet_host }} {
  import logging keycloak.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy https://{{ lan_prefix }}.{{ auth_host }}.{{ internet_host }}
}