{{ music_host }}.{{ internet_host }} {

  @waf {
    import waf_skip_audio
    import waf_skip_images
  }

  coraza_waf @waf {
    import owasp_coraza /etc/caddy/waf/rules/unix-usernames.conf
  }

  import logging navidrome.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy https://{{ lan_prefix }}.{{ music_host }}.{{ internet_host }}
}
