{{ remote_ssh_host }}.{{ internet_host }} {
  import logging termix.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['remote_hetzner']['ansible_host'] }}:8080
}
