{{ remote_ssh_host }}.{{ internet_host }} {
  import logging termix.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy https://{{ lan_prefix }}.{{ remote_ssh_host}}.{{ internet_host }}
}
