{{ notes_host }}.{{ internet_host }} {

  @waf {
    import waf_skip_images
    import waf_skip_websockets
  }

  coraza_waf @waf {
    load owasp_crs

    directives "
      Include /etc/caddy/waf/core/owasp_coraza.conf
      Include /etc/caddy/waf/core/crs_rules.conf
    "
  }

  import logging notes.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy https://{{ lan_prefix }}.{{ notes_host }}.{{ internet_host }}
}
