{{ password_mgr_host }}.{{ internet_host }} {

  coraza_waf {
    import owasp_coraza
  }

  import logging vaultwarden.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy https://{{ lan_prefix }}.{{ password_mgr_host }}.{{ internet_host }}
}