server:
  http_listen_port: 9080
  grpc_listen_port: 0
positions:
  filename: /tmp/positions.yaml
clients:
  - url: http://10.0.1.12:3100/loki/api/v1/push
scrape_configs:
  # OWASP Coraza Audit Log (Security Events)
  - job_name: caddy_waf
    static_configs:
      - targets:
          - localhost
        labels:
          job: caddy_waf
          host: "{{ caddy_promtail_host_tag }}"
          __path__: /var/log/caddy/coraza_audit.log
    pipeline_stages:
      - json:
          expressions:
            timestamp: transaction.timestamp
            client_ip: transaction.client_ip
            host:      transaction.server_id
            uri:       transaction.request.uri
            method:    transaction.request.method
            ua:        transaction.request.headers."user-agent"[0]
            blocked:   transaction.is_interrupted
            # Details
            rule_id:     messages[0].data.id
            attack_msg:  messages[0].message
            attack_data: messages[0].data.data
            severity:    messages[0].data.severity

            # --- THE SMART TAG EXTRACTOR ---
            # Logic: 
            # 1. Look for 'attack-' (Best)
            # 2. OR Look for 'policy-' (Good)
            # 3. OR Look for 'language-' (Okay)
            # 4. OR Fallback to the very first tag (Better than nothing)
            # 5. OR "Uncategorized"
            attack_cat: "messages[0].data.tags[?starts_with(@, 'attack-')] | [0] || messages[0].data.tags[?starts_with(@, 'policy-')] | [0] || messages[0].data.tags[?starts_with(@, 'language-')] | [0] || messages[0].data.tags[0] || 'Uncategorized'"

  - labels:
      host:
      method:
      rule_id:
      attack_cat: # This will now contain clean values like 'attack-sqli'
      severity:
      blocked:
      - labels:
          # Turn these into clickable filters in Grafana
          rule_id:
          action:
  # Service Logs
  - job_name: caddy
    static_configs:
      - targets:
          - localhost
        labels:
          job: caddy
          agent: caddy-promtail
          host: "{{ caddy_promtail_host_tag }}"
          __path__: /var/log/caddy/*.log
    pipeline_stages:
      # Exclude WAF log
      - match:
          selector: '{__path__=~".*coraza_audit.log"}'
          action: drop
      #  Extract Service Name from Filename
      # If file is "/var/log/caddy/navidrome.log", label becomes service="navidrome"
      - regex:
          source: __path__
          expression: '/var/log/caddy/(?P<service_name>.*)\.log'
      - labels:
          service_name:
      # Parse the Caddy JSON
      - json:
          expressions:
            status: status
            duration: duration
            method: request.method
            uri: request.uri
      - labels:
          status:
          duration:
# Fix Time
      - timestamp:
          source: ts
          format: Unix
