Include @coraza.conf-recommended

# Reject requests when Coraza doesn't like them
SecRuleEngine On

# Scan Response bodies
SecResponseBodyAccess On

# Only scan response bodies that are not binaries
SecResponseBodyMimeType text/plain text/html text/xml application/json application/javascript

# Cap the response buffer at 512KB
SecResponseBodyLimit 524288

# If a response body if too big, process it partially
SecResponseBodyLimitAction ProcessPartial

# Process request bodies in small 64KB chunks
SecRequestBodyInMemoryLimit 65536

# Reject uploads larger than 200MB
SecRequestBodyLimit 209715200
SecRequestBodyLimitAction Reject

# Stop matching if a Regex takes too much work.
SecPcreMatchLimit 1500
SecPcreMatchLimitRecursion 1500