Include @coraza.conf-recommended

# --- Audit Logging ---
SecAuditLog /var/log/caddy/coraza_audit.log
SecAuditLogFormat json
SecAuditLogParts ABCEFHIJKZ
SecAuditEngine RelevantOnly

# --- Engine Configuration ---

# Reject requests when Coraza doesn't like them
SecRuleEngine On

# Scan Response bodies
SecResponseBodyAccess On

# Only scan response bodies that are not binaries
SecResponseBodyMimeType text/plain text/html text/xml application/json application/javascript

# Cap the response buffer at 512KB
SecResponseBodyLimit 524288

# If a response body if too big, process it partially
SecResponseBodyLimitAction ProcessPartial

# Process request bodies in small 64KB chunks
SecRequestBodyInMemoryLimit 65536

# Reject uploads larger than 200MB
SecRequestBodyLimit 209715200
SecRequestBodyLimitAction Reject

# Stop matching if a Regex takes too much work.
SecPcreMatchLimit 1500
SecPcreMatchLimitRecursion 1500

# --- Security Policy ---

Include @crs-setup.conf.example

# block_search_ip=0 disables ip reputation checks (slow if not tuned)
SecAction "id:900000,phase:1,nolog,pass,t:none,setvar:tx.paranoia_level=2"
# Threshold: 5 (Strict). Defaults are usually higher.
SecAction "id:900110,phase:1,nolog,pass,t:none,setvar:tx.inbound_anomaly_score_threshold=5,setvar:tx.outbound_anomaly_score_threshold=4"
SecRule REQUEST_HEADERS:Content-Type "@contains multipart/form-data" \
  "id:1005,phase:1,nolog,pass,ctl:requestBodyAccess=Off"
