upstreams:
  groups:
    default:
  {% for upstream in blocky_upstreams %}
      - {{ upstream }}
  {% endfor %}
blocking:
  denylists:
    ads:
{% for adlist in blocky_adlists %}
     - {{ adlist }}
{% endfor %}
    security:
{% for seclist in blocky_security_lists %}
     - {{ seclist }}
{% endfor %}
  clientGroupsBlock:
    default:
      - ads
      - security
ports:
  dns: 53
  http: 4000
