upstream:
  default:
{% for upstream in blocky_upstreams %}
    - {{ upstream }}
{% endfor %}
blocking:
  blackLists:
    ads:
 {% for adlist in blocky_adlists %}
     - {{ adlist }}
{% endfor %}
  clientGroupsBlock:
    default:
      - ads
ports:
  dns: 53
  http: 4000
