- name: Configure automation servers
  hosts: automation_servers
  tags:
    - automation_deploy
  tasks:
    - name: Deploy Home Assistant
      ansible.builtin.import_role:
        name: dpkg_i_foo_deb.homelab.quadlet_service
      vars:
        quadlet_service_definition:
          name: home-assistant
          image: 'ghcr.io/home-assistant/home-assistant:stable'
          user: '{{ container_user }}'
          ports:
            - '8123:8123'
          dir_mounts:
            - src: '/var/home-assistant'
              dest: '/config:z'
          system_mounts:
            - src: '/etc/localtime'
              dest: '/etc/localtime:ro'
            - src: '/run/dbus'
              dest: '/run/dbus:ro'
