- name: Configure Homelab Registry
  hosts: registry_servers
  tasks:

    - name: Fix broken Harbor permissions
      become: true
      ansible.builtin.file:
        path: "/home/{{ container_user }}/harbor/harbor"
        state: directory
        mode: '0777'
        owner: '{{ container_user }}'
        group: '{{ container_user }}'
        recurse: true

    - name: Deploy and Restart Harbor Registry
      become: true
      community.docker.docker_compose_v2:
        project_src: "/home/{{ container_user }}/harbor"
        state: restarted
      register: output

    - name: Show results
      ansible.builtin.debug:
        var: output
