- name: General tasks for all reverse proxy servers
  hosts: reverse_proxy_servers
  tags:
  - promtail-deploy
  - caddy-deploy
  tasks:
    - name: Ensure Caddy configuration directories exist
      become: true
      ansible.builtin.file:
        path: "/var/caddy/{{ item }}"
        state: directory
        owner: "{{ container_user }}"
        group: "{{ container_user }}"
        mode: '0755'
      loop:
        - snippets
        - sites
        - waf
        - waf/rules
        - waf/core

    - name: Template Caddyfile
      become: true
      ansible.builtin.template:
        src: "templates/caddy/Caddyfile.{{ caddy_profile }}.j2"
        dest: "/var/caddy/Caddyfile"
        owner: "{{ container_user }}"
        group: "{{ container_user }}"
        mode: '0644'

    - name: Template shared snippets
      become: true
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/var/caddy/snippets/{{ item | basename | regex_replace('\\.j2$', '') }}"
        owner: "{{ container_user }}"
        group: "{{ container_user }}"
        mode: '0644'
      with_fileglob:
        - "templates/caddy/snippets/*"

    - name: Template WAF configuration
      become: true
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/var/caddy/waf/{{ item | basename | regex_replace('\\.j2$', '') }}"
        owner: "{{ container_user }}"
        group: "{{ container_user }}"
        mode: '0644'
      with_fileglob:
        - "templates/caddy/waf/*"

    - name: Template WAF Rules
      become: true
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/var/caddy/waf/rules/{{ item | basename | regex_replace('\\.j2$', '') }}"
        owner: "{{ container_user }}"
        group: "{{ container_user }}"
        mode: '0644'
      with_fileglob:
        - "templates/caddy/waf/rules/*"

    - name: Template WAF Core
      become: true
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/var/caddy/waf/core/{{ item | basename | regex_replace('\\.j2$', '') }}"
        owner: "{{ container_user }}"
        group: "{{ container_user }}"
        mode: '0644'
      with_fileglob:
        - "templates/caddy/waf/core/*"

    - name: Template Sites for {{ caddy_profile }}
      become: true
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/var/caddy/sites/{{ item | basename | regex_replace('\\.j2$', '') }}"
        owner: "{{ container_user }}"
        group: "{{ container_user }}"
        mode: '0644'
      with_fileglob:
        - "templates/caddy/sites/{{ caddy_profile }}/*"

    - name: Ensure there's a directory to store Caddy logs
      become: true
      ansible.builtin.file:
        path: /var/log/caddy/
        state: directory
        mode: '0755'
        owner: '{{ container_user }}'
        group: '{{ container_user }}'

    - name: Cleanup Orphaned Caddy Files
      become: true
      block:
        - name: Inventory remote files in Caddy directories
          ansible.builtin.find:
            paths:
              - /var/caddy/snippets
              - /var/caddy/sites
              - /var/caddy/waf
              - /var/caddy/waf/rules
              - /var/caddy/waf/core
            file_type: file
            recurse: no
          register: caddy_found_files

        - name: Define list of expected files
          ansible.builtin.set_fact:
            caddy_expected_files: >-
              {{
                (
                  query('fileglob', 'templates/caddy/snippets/*')
                  | map('basename') | map('regex_replace', '\.j2$', '')
                  | map('regex_replace', '^', '/var/caddy/snippets/') | list
                ) +
                (
                  query('fileglob', 'templates/caddy/sites/' ~ caddy_profile ~ '/*')
                  | map('basename') | map('regex_replace', '\.j2$', '')
                  | map('regex_replace', '^', '/var/caddy/sites/') | list
                ) +
                (
                  query('fileglob', 'templates/caddy/waf/*')
                  | map('basename') | map('regex_replace', '\.j2$', '')
                  | map('regex_replace', '^', '/var/caddy/waf/') | list
                ) +
                (
                  query('fileglob', 'templates/caddy/waf/rules/*')
                  | map('basename') | map('regex_replace', '\.j2$', '')
                  | map('regex_replace', '^', '/var/caddy/waf/rules/') | list
                ) +
                (
                  query('fileglob', 'templates/caddy/waf/core/*')
                  | map('basename') | map('regex_replace', '\.j2$', '')
                  | map('regex_replace', '^', '/var/caddy/waf/core/') | list
                )
              }}

        # Delete any file found in Step 1 that isn't in the list from Step 2
        - name: Remove orphaned files
          ansible.builtin.file:
            path: "{{ item.path }}"
            state: absent
          loop: "{{ caddy_found_files.files }}"
          loop_control:
            label: "{{ item.path }}"
          when: item.path not in caddy_expected_files

    - name: Template Promtail configuration
      become: true
      vars:
        caddy_promtail_host_tag: '{{ inventory_hostname }}'
      ansible.builtin.template:
        src: templates/caddy/promtail-caddy.yaml.j2
        dest: /var/caddy/promtail-caddy.yaml
        mode: '0644'
        owner: '{{ container_user }}'
        group: '{{ container_user }}'

    - name: Allow rootless processes to use privileged ports
      become: true
      ansible.builtin.import_role:
        name: podman
        tasks_from: rootless_ports

    - name: Build Caddy image
      become: true
      become_user: '{{ container_user }}'
      vars:
        caddy_extensions:
          - github.com/caddy-dns/cloudflare
          - github.com/corazawaf/coraza-caddy/v2
      containers.podman.podman_image:
        name: 'caddy-private:latest'
        state: build
        force: true
        build:
          container_file: "{{ lookup('template', 'caddy/Containerfile.j2') }}"

- name: Configure reverse proxy on home server
  hosts: private_reverse_proxy
  tasks:
    - name: Deploy Caddy on home server
      ansible.builtin.import_role:
        name: dpkg_i_foo_deb.homelab.quadlet_service
      vars:
        quadlet_service_definition:
          name: caddy
          image: 'localhost/caddy-private:latest'
          user: '{{ container_user }}'
          pull_image: false
          host_network: true
          volumes:
            - name: 'caddy_data'
              dest: '/data:z'
            - name: 'caddy_conf'
              dest: '/config:z'
          dir_mounts:
            - src: '/var/caddy'
              dest: '/etc/caddy:z'
            - src: '/var/log/caddy'
              dest: '/var/log/caddy:z'
          env:
            CF_API_TOKEN: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              66343334363162356564643436323332383862646234396333386138373963356338313536393230
              6266653764643930323730386234656230623361313666650a636636333265653062623365643966
              66393561323966633161343636643534636164383737323137643066663634346666383265326231
              6530623032386361390a663862623238626361363935323739323366653663646530633434333138
              63653138626437613463376631663233383638366339333736373833373434336464376264613938
              6231636134346531366564306165393031373263303762383265
            GOMEMLIMIT: '3500MiB'
            GOGC: '200'

- name: Configure reverse proxy on public internet VPS
  hosts: public_reverse_proxy
  tasks:
    - name: Deploy Caddy on public internet VPS
      ansible.builtin.import_role:
        name: dpkg_i_foo_deb.homelab.quadlet_service
      vars:
        quadlet_service_definition:
          name: caddy
          image: 'localhost/caddy-public:latest'
          user: '{{ container_user }}'
          env:
            CF_API_TOKEN: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              66343334363162356564643436323332383862646234396333386138373963356338313536393230
              6266653764643930323730386234656230623361313666650a636636333265653062623365643966
              66393561323966633161343636643534636164383737323137643066663634346666383265326231
              6530623032386361390a663862623238626361363935323739323366653663646530633434333138
              63653138626437613463376631663233383638366339333736373833373434336464376264613938
              6231636134346531366564306165393031373263303762383265
            GOMEMLIMIT: '500MiB'
            GOGC: '50'
          host_network: true
          hosts: "{{
            {
            (lan_prefix ~ '.' ~ auth_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ remote_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ code_personal_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ code_work_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ music_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ notes_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ password_mgr_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ rss_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ photos_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ metrics_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ registry_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ home_assistant_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ automation_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            (lan_prefix ~ '.' ~ remote_ssh_host ~ '.' ~ internet_host): private_reverse_proxy_host,
            }
            }}"
          volumes:
            - name: 'caddy_data'
              dest: '/data:z'
            - name: 'caddy_conf'
              dest: '/config:z'
          dir_mounts:
            - src: '/var/caddy'
              dest: '/etc/caddy:z'
            - src: '/var/log/caddy'
              dest: '/var/log/caddy:z'

- name: Promtail Configuration
  hosts: reverse_proxy_servers
  tags:
    - promtail-deploy
  tasks:
    - name: Deploy Promtail
      ansible.builtin.import_role:
        name: dpkg_i_foo_deb.homelab.quadlet_service
      vars:
        quadlet_service_definition:
          name: promtail
          image: docker.io/grafana/promtail:latest
          user: '{{ container_user }}'
          file_mounts:
            - src: /var/caddy/promtail-caddy.yaml
              dest: /etc/promtail/config.yml:z
          dir_mounts:
            - src: /var/log/caddy
              dest: /var/log/caddy:z
          command:
            - -config.file=/etc/promtail/config.yml