- name: Configure VPN Servers
  hosts: vpn_servers
  tasks:
    # - name: Build dns_records for Headscale
    #   ansible.builtin.set_fact:
    #     dns_records:
    #       "{{ dns_records | default([]) + [ { 'domain': 'lan' ~ '.' ~ item.value.host ~ '.' ~ internet_host, 'address': item.value.private_proxy_vpn } ] }}"
    #   loop: "{{ homelab_services | dict2items }}"
    #   when: item.value.private_proxy_vpn is defined

    # - name: Display DNS Records
    #   ansible.builtin.debug:
    #     msg: '{{ dns_records }}'

    - name: Template Headscale configuration
      vars:
        headscale_http_port: '8080'
        headscale_metrics_port: '9090'
        headscale_server_host: '{{ vpn_host }}.{{ internet_host }}'
        headscale_server_port: '443'
        headscale_listen_host: '0.0.0.0'
        headscale_listen_port: '8080'
        headscale_metrics_host: '0.0.0.0'
        headscale_grpc_listen_addr: '0.0.0.0'
        headscale_grpc_listen_port: '50443'
        headscale_dns_base_domain: 'nodes.{{ vpn_host }}.{{ internet_host }}'
      become: true
      ansible.builtin.template:
        src: templates/headscale/config.yaml.j2
        dest: '/var/headscale/config.yaml'
        owner: '{{ container_user }}'
        group: '{{ container_user }}'
        mode: '0777'

    - name: Deploy Headscale coordination server
      ansible.builtin.import_role:
        name: dpkg_i_foo_deb.homelab.quadlet_service
      vars:
        quadlet_service_definition:
          name: headscale
          image: 'docker.io/headscale/headscale:stable'
          user: '{{ container_user }}'
          command: 'serve'
          host_network: true
          dir_mounts:
            - src: '/var/headscale'
              dest: '/etc/headscale:z'
          volumes:
            - name: 'headscale_data'
              dest: '/var/lib/headscale:z'
