---
- name: Create Navidrome Quadlet File
  notify: Restart navidrome
  become: true
  become_user: '{{ navidrome_user }}'
  containers.podman.podman_container:
    name: '{{ navidrome_container }}'
    image: docker.io/deluan/navidrome:latest
    state: quadlet
    quadlet_filename: '{{ navidrome_container }}'
    ports:
      - '{{ navidrome_http_port | default(4533) }}:4533'
    volumes:
      - '{{ navidrome_config }}:/data:z'
      - '{{ navidrome_collection }}:/music:ro'
    env:
      PUID: '1000'
      PGID: '1000'
      TZ: '{{ tz }}'
      ND_SCANSCHEDULE: '{{ navidrome_scan_schedule | default("1h") }}'
      ND_LOGLEVEL: '{{ navidrome_loglevel | default("info") }}'
      ND_SESSIONTIMEOUT: '{{ navidrome_session_timeout | default("99h") }}'
      ND_BASEURL: ''
      ND_LASTFM_APIKEY: '{{ navidrome_lastfm_apikey | default(omit) }}'
      ND_LASTFM_SECRET: '{{ navidrome_lastfm_secret | default(omit) }}'
    quadlet_options:
      - 'AutoUpdate=registry'
      - 'Pull=newer'
      - |
        [Service]
        Restart=always
        RestartSec=10
      - |
        [Install]
        WantedBy=default.target multi-user.target
