[Unit]
Description=OpenRGB Server Service
After=network.target

[Service]
User=root
ExecStart={{ openrgb_install_path }}/{{ openrgb_executable }} --server --config {{ openrgb_config }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
