(owasp_coraza) {
  load_owasp_crs

  directives "
    Include /etc/caddy/waf/core/logging.conf
    Include /etc/caddy/waf/core/engine.conf
    Include /etc/caddy/waf/core/security_policy.conf

    Include {args.0}

    # 3. CRS Rules
    Include /etc/caddy/waf/core/crs_rules.conf
  "
}
