(waf_skip_images) {
	not {
		method GET
		path *.jpg *.jpeg *.png *.gif *.ico *.svg *.webp *.tiff *.bmp *.heic
	}
}

(waf_skip_audio) {
	not {
		method GET
		path *.mp3 *.wav *.flac *.aac *.ogg *.m4a *.wma *.opus *.mid *.midi
	}
}

(waf_skip_video) {
	not {
		method GET
		path *.mp4 *.mkv *.avi *.mov *.wmv *.flv *.webm *.m4v *.mpg *.mpeg
	}
}

(waf_skip_docs) {
	not {
		method GET
		path *.pdf *.doc *.docx *.xls *.xlsx *.ppt *.pptx *.txt *.rtf *.epub
	}
}

(waf_skip_archives) {
	not {
		method GET
		path *.zip *.tar *.gz *.rar *.7z *.bz2 *.xz *.iso *.dmg
	}
}

(waf_skip_websockets) {
	not {
		method GET
		header Connection *Upgrade*
		header Upgrade websocket
		path / /api/websocket /notifications/hub /guacamole/websocket-tunnel /api/live/ws /stable-* /socket.io/* /_static/src/browser/*
	}
}
