# Allow methods for the Trilium API, used to save notes
SecRule REQUEST_URI "@beginsWith /api/" \
  "id:10006,\
  phase:1,\
  pass,\
  nolog,\
  t:none,\
  setvar:'tx.allowed_methods=GET HEAD POST OPTIONS PUT PATCH DELETE'"

# Allow saving notes that contain Unix commands or other
# technical docs
SecRule REQUEST_METHOD "@streq PUT" \
  "id:10007,\
  phase:1,\
  pass,\
  nolog,\
  chain"
    SecRule REQUEST_URI "@beginsWith /api/notes/" \
      "t:none,\
      ctl:ruleRemoveByTag=attack-sqli,\
      ctl:ruleRemoveByTag=attack-injection-php,\
      ctl:ruleRemoveByTag=attack-rce,\
      ctl:ruleRemoveByTag=attack-protocol,\
      ctl:ruleRemoveByTag=attack-xss"