{{ lan_prefix }}.{{ automation_host }}.{{ internet_host }},
{{ automation_host }}.{{ internet_host }} {

  @waf {
    import waf_skip_websockets
  }

  coraza_waf @waf {
    load_owasp_crs

    directives "
      Include /etc/caddy/waf/core/owasp_coraza.conf
      Include /etc/caddy/waf/core/crs_rules.conf
    "
  }

  import logging awx.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['automation']['ansible_host'] }}:80
}
