{{ lan_prefix }}.{{ registry_host }}.{{ internet_host }},
{{ registry_host }}.{{ internet_host }} {
  import logging harbor.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['registry']['ansible_host'] }}:80
}
