{{ lan_prefix }}.{{ photos_host }}.{{ internet_host }},
{{ photos_host }}.{{ internet_host }} {
  import logging immich.log
  import owasp_coraza
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['streaming_vm']['ansible_host'] }}:2283
}