{{ lan_prefix }}.{{ auth_host }}.{{ internet_host }},
{{ auth_host }}.{{ internet_host }} {

  coraza_waf {
    import owasp_coraza_engine

    include /etc/caddy/waf/rules/unix-usernames.conf
  }

  import logging keycloak.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['security_vm']['ansible_host'] }}:8081
}