{{ lan_prefix }}.{{ music_host }}.{{ internet_host }},
{{ music_host }}.{{ internet_host }} {
  import logging navidrome.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['streaming_vm']['ansible_host'] }}:4533
}