{{ lan_prefix }}.{{ music_host }}.{{ internet_host }},
{{ music_host }}.{{ internet_host }} {

  @waf {
    import waf_skip_audio
    import waf_skip_images
  }

  coraza_waf @waf {
    load_owasp_crs

    directives "
      Include /etc/caddy/waf/core/owasp_coraza.conf
      Include /etc/caddy/waf/rules/unix-usernames.conf
      Include /etc/caddy/waf/core/crs_rules.conf
    "
  }

  import logging navidrome.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['streaming_vm']['ansible_host'] }}:4533
}