{{ lan_prefix }}.{{ remote_ssh_host }}.{{ internet_host }},
{{ remote_ssh_host }}.{{ internet_host }} {
  import logging termix.log
  import owasp_coraza
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['remote_homelab']['ansible_host'] }}:8080
}
