{{ lan_prefix }}.{{ notest_host }}.{{ internet_host }},
{{ notes_host }}.{{ internet_host }} {
  import logging notes.log
  # import owasp_coraza
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy_oauth {{ hostvars['knowledge']['ansible_host']}}:4180 http://{{ hostvars['knowledge']['ansible_host'] }}:8080
}