{{ lan_prefix }}.{{ password_mgr_host }}.{{ internet_host }},
{{ password_mgr_host }}.{{ internet_host }} {

  coraza_waf {
    import owasp_coraza_engine
  }

  import logging vaultwarden.log
  import error_handler
  import letsencrypt_cloudflare_dns
  import proxy http://{{ hostvars['security_vm']['ansible_host'] }}:8080
}