<network>
  <name>{{ net.name }}</name>
  <uuid>{{ net.uuid }}</uuid>
  <bridge name='{{ net.bridge }}' zone='{{ net.zone }}' stp='{{ net.stp }}' delay='{{ net.delay }}'/>
  <mtu size='{{ net.mtu }}'/>
  <mac address='{{ net.mac }}'/>
  <domain name='{{ net.domain }}' localOnly='{{ net.local_only }}'/>
  <ip address='{{ net.ip }}' netmask='{{ net.mask }}' localPtr='{{ net.local_ptr }}'>
  </ip>
</network>
