{
  "index.docker.io": {
    "username": "{{ registry_dockerhub_user }}",
    "password": "{{ registry_dockerhub_pass }}"
  },
  "quay.io": {
    "username": "{{ registry_quay_user }}",
    "password": "{{ registry_quay_pass }}"
  }
}

