hypervisors:
  hosts:
    homelab_hypervisor:
      ansible_host: 192.168.8.4
      hypervisor_interfaces:
        - { name: 'eth0', mac: '74:56:3c:c7:00:e6' }
        - { name: 'eth1', mac: '1c:86:0b:24:18:25' }
        - { name: 'eth2', mac: '1c:86:0b:24:18:26' }
        - { name: 'eth3', mac: '1c:86:0b:24:18:27' }
        - { name: 'eth4', mac: '1c:86:0b:24:18:28' }

bastion:
  hosts:
    homelab_bastion:
      ansible_host: 10.0.1.10
      siem_agent: homelab-bastion
      groups: 'trusted,internet_facing'
      container_user: 'bastion'

remote_access_servers:
  hosts:
    remote_homelab:
      ansible_host: 10.0.1.13
      siem_agent: remote-homelab
      groups: 'trusted'
      container_user: 'remote'

vpn_gateways:
  hosts:
    vps_vpn_gateway:
      ansible_host: 10.0.252.20
      siem-agent: 'vps-vpn-gateway'
      groups: 'trusted'
      container_user: 'vpn-gateway'
    homelab_vpn_gateway:
      ansible_host: 10.0.6.20
      siem_agent: 'homelab-vpn-gateway'
      groups: 'trusted'
      container_user: 'vpn-gateway'

vpn_servers:
  hosts:
    homelab_vpn:
      ansible_host: 10.0.254.3
      # ansible_ssh_common_args: '-o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p -q {{ vps_proxy_jump_target }}"'
      container_user: 'vpn'
registry_servers:
  hosts:
    registry:
      ansible_host: 10.0.0.14
      siem_agent: registry
      groups: 'trusted,internet_facing'
      container_user: 'registry'
code:
  hosts:
    code_server:
      ansible_host: 10.0.0.15
      container_user: 'code'
servarr:
  hosts:
    servarr_vm:
      ansible_host: 10.0.0.12
      container_user: servarr

homelab_dns:
  hosts:
    unrestricted_homelab_dns:
      ansible_host: 10.0.2.3
      container_user: dns-home-1
      siem_agent: dns-home-1
      groups: 'trusted'


home_dns:
  hosts:
    primary_home_dns:
      ansible_host: 10.0.2.2
      container_user: dns-home-0
      siem_agent: dns-home-0
      groups: 'trusted'

vpn_dns:
  hosts:
    primary_vpn_dns:
      ansible_host: 10.0.2.4
      container_user: dns-vpn-0
      siem_agent: dns-vpn-0
      groups: 'internet_facing,trusted'
    vps_vpn_dns:
      ansible_host: 10.0.254.5
      container_user: 'dns-vpn'
      # ansible_ssh_common_args: '-o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p -q {{ vps_proxy_jump_target }}"'

automation_servers:
  hosts:
    automation:
      ansible_host: 10.0.1.11
      container_user: automation

streaming:
  hosts:
    streaming_vm:
      ansible_host: 10.0.0.13
      container_user: streaming
torrent:
  hosts:
    torrent_vm:
      ansible_host: 10.0.4.10
      container_user: torrent
security:
  hosts:
    security_vm:
      ansible_host: 10.0.0.11
      container_user: security
reverse_proxy_servers:
  hosts:
    private_reverse_proxy:
      ansible_host: 10.0.5.10
      container_user: reverse-proxy
      groups: 'internet_facing,trusted'
      caddy_profile: 'home-server'
    public_reverse_proxy:
      ansible_host: 10.0.253.10
      container_user: 'reverse-proxy'
      groups: 'internet_facing, trusted'
      caddy_profile: 'vps'

knowledge_management:
  hosts:
    knowledge:
      ansible_host: 10.0.0.10
      container_user: knowledge
monitoring:
  hosts:
    homelab_monitor:
      ansible_host: 10.0.7.10
      groups: 'trusted'
      container_user: monitoring
vps:
  hosts:
    vps_hetzner:
      ansible_host: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        34353032633165656230313731313733613561313537323436376666376136343662356434326537
        6639323137626137353438316330646363343539353965330a333263623836633432383833643730
        32363836303865393839316366663066326365633137663034373233316639383438383833656239
        3938303235313139380a643735343066393561383666313561626131393261636634386435326432
        3431
      container_user: 'vps-hetzner'
