---
- name: Create Lidarr Quadlet File
  become: true
  become_user: '{{ lidarr_user }}'
  notify: Restart lidarr
  containers.podman.podman_container:
    name: '{{ lidarr_container }}'
    image: lscr.io/linuxserver/lidarr:latest
    state: quadlet
    quadlet_filename: '{{ lidarr_container }}'
    ports:
      - '{{ lidarr_http_port | default(8686) }}:8686'
    volumes:
      - '{{ lidarr_config }}:/config:z'
      - '{{ lidarr_collection }}:/music'
      - '{{ lidarr_downloads }}:/downloads'
    env:
      PUID: '1000'
      PGID: '1000'
      TZ: '{{ tz }}'
    quadlet_options:
      - 'AutoUpdate=registry'
      - 'Pull=newer'
      - |
        [Service]
        Restart=always
        RestartSec=10
      - |
        [Install]
        WantedBy=default.target multi-user.target
