---
- name: Create Wazuh Indexer Quadlet file
  become: true
  become_user: '{{ wazuh_indexer_user }}'
  notify: Restart wazuh_indexer
  containers.podman.podman_container:
    name: '{{ wazuh_indexer_container }}'
    image: docker.io/wazuh/wazuh-indexer:{{ wazuh_indexer_version }}
    network: '{{ wazuh_indexer_network }}'
    hostname: '{{ wazuh_indexer_hostname }}'
    state: quadlet
    quadlet_filename: '{{ wazuh_indexer_container }}'
    ports:
      - '{{ wazuh_indexer_port | default("9200") }}:9200'
    volumes:
      - '{{ wazuh_indexer_data_vol }}:/var/lib/wazuh-indexer:z'
      - '{{ wazuh_indexer_tls_dir }}/root-ca.pem:/usr/share/wazuh-indexer/certs/root-ca.pem:z'
      - '{{ wazuh_indexer_tls_dir }}/wazuh.indexer-key.pem:/usr/share/wazuh-indexer/certs/wazuh.indexer.key:z'
      - '{{ wazuh_indexer_tls_dir }}/wazuh.indexer.pem:/usr/share/wazuh-indexer/certs/wazuh.indexer.pem:z'
      - '{{ wazuh_indexer_tls_dir }}/admin.pem:/usr/share/wazuh-indexer/certs/admin.pem:z'
      - '{{ wazuh_indexer_tls_dir }}/admin-key.pem:/usr/share/wazuh-indexer/certs/admin-key.pem:z'
      - '{{ wazuh_indexer_config_dir }}/wazuh.indexer.yml:/usr/share/wazuh-indexer/opensearch.yml:z'
      - '{{ wazuh_indexer_config_dir }}/internal_users.yml:/usr/share/wazuh-indexer/opensearch-security/internal_users.yml:z'
    env:
      PUID: '1000'
      PGID: '1000'
      TZ: '{{ tz }}'
      OPENSEARCH_JAVA_OPTS: '-Xms1g -Xmx1g'
    quadlet_options:
      - 'AutoUpdate=registry'
      - 'Pull=newer'
      - |
        [Service]
        Restart=always
        RestartSec=10
      - |
        [Install]
        WantedBy=default.target multi-user.target
